// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: rgba(237, 231, 246, .5);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}